* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  background-color: rgba(0,139, 139,0.8);
  padding: 10px 15px;
  width:100%;
}
.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.menu {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}
.mainpage {
  margin-left: 20px;
}
.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}
.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.github-link,
.group-link {
  align-self: flex-end;
  margin-bottom: 20px;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
}
.carousel {
  width:900px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
}
.carousel-item .visible {
  display:block;
}
.carousel-item img {
  width:500px;
  height:auto;
}
.first-item {
  order: 1;
}
.last-item {
  order: -1;
}
button.previous,
button.next {
  height:30px;
  padding:0 5px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}
.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}